{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>HOME</title>
	
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
        href="{% static 'MTU/hstyle.css' %}">
         
    <style>
           <!--FOR LAYOUT OF WHOLE PAGE-->
        .box{
            width: 500px;
            height: 200px;
            padding: 20px;
            margin: 100px auto;
            box-shadow: 0px 0px 10px 2px grey;
            border: 10px solid red;
            background-image: url('static/Images/p6.jpg')
            background-size: cover;
        }
            .container1{
                max-width:1270px;
                width:100%;
                margin: 0 auto;
                display: flex;
            }
            .column{
                margin: 0 15px 25px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0,0, 0.24);
                background: #fff;
                border-radius: 10px;
                flex-basis: 33%;
            }
            .card{
                padding:15px 25px;
            }
            img{
                max-width:100%;
            }
        </style>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
<!------------------------------- better mobile display ----------------------->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="{% static 'Images/logo2.jpg' %}" height="60" width="65">
                <a class="navbar-brand" href="{% url 'Home' %}">HOME</a>
            </div>
<!------------------------- content for toggling ------------------------------->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'admission' %}">Admissions</a>
                    </li>
<!-------------------------dropdown for departments------------------------------>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Departments <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'mechanical' %}">Mechanical Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'computer' %}">Computer Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'electronics' %}">Electrical & Computer Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'chemical' %}">Chemical Engineering</a>
                            </li>
                            <li>
                                <a href="{% url 'civil' %}">Civil Engineering</a>
                            </li>   
                        </ul>
                    </li>
<!------------------------------dropdown for user section---------------------->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}">Register</a>
                            </li>
                            <li>
                                <a href="{% url 'faq' %}">FAQ</a>
                            </li>                           
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'campus' %}">Campus Life</a>
                    </li>
                    <li>
                        <a href="{% url 'Contact' %}">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Content of admission page -->
    <h1 style="color: black ; font-size:60px" align="center">Admission</h1>
    <center>  
    <img src="{% static 'Images/undergraduate.jpg' %}" id="undergraduate" width="1250px" height="450px">
        </center>
        <section id="admission">
                <div class="admission container">
                <div class="admission-bottom">
                <!-- Section1 -->
                <div class="admission-item1">
                <div class="icon"><img src="https://img.icons8.com/nolan/64/diploma.png"/></div>
                <h2>Undergraduate Admissions</h2>               
                <p>MTU is committed to creating better opportunities for Indigenous students, building
                 and improving respectful partnerships with Indigenous communities and encouraging 
                 everyone to be part of a shared vision for the future as part of our response to 
                 Canada’s Truth and Reconciliation Commission. Learn in an amazing place with world-class
                  facilities and instructors, unique programs and diverse perspectives create our
                   extraordinary academic environment. Here, you’ll learn by doing. Peer through
                    microscopes, gaze at the stars, dig into the past, and contemplate the future with
                     hands-on experience.</p>
                </div>
                </div>     
                <!-- Section2 -->
                 <div class="admission-item2">
                  <img src="{% static 'Images/graduate.jpg' %}" id="graduate" width="1350px" height="450px" >
                <div class="icon"><img src="https://img.icons8.com/nolan/64/graduation-cap.png"/></div>
                <h2>Graduate Admissions</h2>
                <p>Building on our strengths in environmental studies, earth
                   and ocean sciences, and sustainable approaches to business
                   and law, our programs make a difference to people, places
                   and the planet. Newer graduate offerings reflect areas of
                   emerging interest in neuroscience and the performing
                   arts, while our deep commitment to professional programs
                   launches and advances fulfilling careers. Your supervisor is a faculty member
                    who will mentor you while you study at UVic. They will guide your research and
                     the resulting thesis, project or dissertation. This relationship is one of the
                      most important resources at your disposal. It’s important to get this right.</p>
                </div>
                <!-- Section3 -->
                 <div class="admission-item3">
                  <img src="{% static 'Images/professional.jpg' %}" id="professional"  width="1350px" height="450px">
                <div class="icon"><img src="https://img.icons8.com/nolan/64/visualization-skill.png"/></div>
                <h2>Professional Skills</h2>
                <p>MTU offers a variety of training and upgrade programs for business executives and
                 teachers. Attend classes on campus or complete an online program. 
                 Learn skills that will benefit your current job or help you find an entirely new career
                  path. Gain a new perspective on career training and professional development with 
                  opportunities available in Business, Technology and Public Relations Culture,
                   Learning and Development Health,
                   Wellness and Safety, Languages and Science and Ecological Restoration</p>
                </div>
               
                
                          
                </div>
                
                </section>

                <script src="{% static 'js/jquery.js' %}"></script>
                <script src="{% static 'js/bootstrap.min.js' %}"></script>

        
           
    
    
    
    </body>
    




</html>
